# Ignore everything by default
*

# But explicitly allow these specific files and extensions
!.gitignore
!.git
!/*.tgz
!README.md
!index.yaml
!LICENSE

# Prevent accidental inclusion of any directories
**/
